h1, h2 {
  font-family: Lato;
  background: #83910d;
  text-align: center;
  border-radius: 25px;
  color: #FFFFFF;
  width: 50%;
}

#title {
  background: #46c70a;
  color: #FFFFFF;
  width: 50%;
  }